{% extends 'app/base.twig' %}

{% block title %}
  Mot de passe oublié
{% endblock %}

{% block description %}
  Mot de passe oublié
{% endblock %}

{% block content %}
  <div class="mt-3 container contact">
    <div class="login_form">
      <div class="login-container">
        <h2>
          Mot de passe oublié
        </h2>
        {% for key,flashItem in app.flashes %}
          {% if key == "forgot_form" %}
            <div class="alert alert-success">
              {{ flashItem[0] }}
            </div>
          {% endif %}
        {% endfor %}

        {{ form_start(form) }}
        {{ form_rest(form) }}
        <captacha-form key="{{ HCAPTCHA_SITEKEY }}" field="password_reset_request_form"></captacha-form>

        <button type="submit" class="btn btn-login">M'envoyer les instructions</button>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}
