{% extends 'app/base.twig' %}

{% block title %}
  Inscription
{% endblock %}

{% block description %}
  Inscription
{% endblock %}

{% block content %}
  <div class="mt-3 container contact">
    <div class="row">
      <div class="col-12 col-lg-4 bg_background swiperCtrl swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="bg-item" title="@ShokoCosplay - Arlecchino" style="background: url('{{ ogImage('images/contact/knave1.png','webp') }}')">
              <span>Copyright - @ShokoCosplay</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bg-item"  title="@ShokoCosplay - Mavuika" style="background: url('{{ ogImage('images/contact/mavuika1.png','webp') }}')">
              <span>Copyright - @ShokoCosplay</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bg-item"  title="@ShokoCosplay - Arlecchino" style="background: url('{{ ogImage('images/contact/knave2.png','webp') }}')">
              <span>Copyright - @ShokoCosplay</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bg-item"  title="@ShokoCosplay - Mavuika" style="background: url('{{ ogImage('images/contact/mavuika2.png','webp') }}')">
              <span>Copyright - @ShokoCosplay</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8 login_form">
        <div class="login-container">
          <h2>
            Mot de passe oublié
          </h2>
          {% for key,flashItem in app.flashes %}
            {% if key == "forgot_form" %}
              <div class="alert alert-success">
                {{ flashItem[0] }}
              </div>
            {% endif %}
          {% endfor %}

          {{ form_start(form) }}
          {{ form_rest(form) }}
          <captacha-form key="{{ HCAPTCHA_SITEKEY }}" field="password_reset_request_form"></captacha-form>

          <button type="submit" class="btn btn-login">M'envoyer les instructions</button>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
